
<main>
  <h1 class="title">Angular Todo Application</h1>
  <input type="text" placeholder="Enter todo" ng-model="todos.text" />
  <input type="button" value="Add Todo" ng-click="todos.addTodo(todo)"/><br />
  <ol style="list-style: none">
      <li ng-repeat="todo in todos.todoStorage">
          <input type="checkbox" />
          <span ng-show="!todos.edit">{{todo}}</span>
          <input ng-show="todos.edit" type="text" value={{todo}} ng-bind="todos.newTodo" />    
          <input type="button" value="delete" ng-click="todos.deleteTodo(todo)"/>
      </li>
        </ol>
 
  
</main>

<footer>
  <!--<a ng-href="{{app.url}}">Webpack Angular Starter</a>-->
</footer>